body, html {
    height: 100%;
    margin: 0;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
   font-family: norse-bold;
   src: url(Norse-Bold.otf);
}

.page-container {
   display: flex;
}

.img-container {
   position: relative;
   background-image: url(green-plant.jpg);
   background-size: cover;
   width: 45vw;
   height: 100vh;
}

.photo-credit {
   display: flex;
   justify-content: center; 
   width: 100%;
   color: white;
   position: absolute;
   bottom: 0;
   padding: 12px 0;
   gap: 5px;
}

.odin-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   position: absolute;
   top: 2.25em;
   font-size: 85px;
   font-family: norse-bold;
   background-color: hsla(0, 0%, 6%, 0.452);
   width: 100%;
   padding: 14px 0;
}

img[src="odin-lined.png"] {
   max-height:  125px;
}

a {
   color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 64px 0 190px 32px;
    width: 40vw;
}

.signup-text, .form, .create-account {
    padding-left: 24px;
}

.signup-text, .form > p {
    font-size: 1.25rem;
    max-width: 580px;
    font-weight: 500;
}

.signup-text {
    margin: 0 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    justify-content: space-between;
    padding-bottom: 10px;
}

.form {
    flex: 0 1;
    box-shadow: 0 7px 6px 0 rgba(0, 0, 0, 0.2);
}

form > div {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 250px;
    height: 45px;
    margin-bottom: 20px;
    gap: 2px;
}

input {
    appearance: none;
    height: 25px;
    padding: 2px 0 2px 6px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:hover {
    border-color: black;
}

input:focus {
    border-color: blue;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    outline: none;
}

button {
    color: white;
    background-color: #596D48;
    font-size: 1rem;
    font-weight: 600;
    width: 200px;
    padding: 12px 32px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.151);
}

.create-account > p {
    margin: 32px 0 0 4px;
}

.create-account > p > a {
    color: #77a848;
    text-decoration: none;
    font-weight: 500;
}

.create-account > p > a:hover {
    text-decoration: underline;
}

.error, .error:focus {
    border: 1px solid red;
}

.good, .good:focus {
    border: 1px solid green;
}

input[id="password"].error {
    position: relative;
}

input[id="password"].error + span::before {
    position: absolute;
    content: "* Passwords do not match";
    color: red;
}

input[id="password"].empty + span::before {
    content: "";
    color: #E5E7EB;
}

button:active {
    background-color: #6c8655;
    border: 1px solid black;
}